In [1]:
import pandas as pd

In [2]:
import sweetviz as sv

In [4]:
df=pd.read_csv('D:\AI-ML\Python Project\Electric_Vehicle_Population_Data.csv')
df.head()

,VIN (1-10),County,City,State,ZIP Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location
0,1N4BZ0CP4G,King,VASHON,WA,98070,2016,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,84,29010,34.0,150297220,POINT (-122.469161 47.415443)
1,1N4BZ0CP4G,Snohomish,MILL CREEK,WA,98012,2016,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,84,29010,44.0,157035826,POINT (-122.20151499999999 47.843376)
2,1N4AZ0CP7D,King,SEATTLE,WA,98115,2013,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,75,28800,46.0,172368493,POINT (-122.297534 47.685291)
3,1N4BZ0CP5G,King,REDMOND,WA,98053,2016,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,84,29010,45.0,209103016,POINT (-122.024951 47.670286)
4,1N4BZ0CP1H,Pierce,TACOMA,WA,98403,2017,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,107,30680,27.0,193838172,POINT (-122.45971600000001 47.265523)

In [5]:
df.shape

(67925, 15)

In [8]:
df.describe()

,ZIP Code,Model Year,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID
count,67925.000000,67925.000000,67925.000000,67925.000000,67885.000000,6.792500e+04
mean,98221.036393,2017.218668,140.648789,33019.295326,30.342123,2.072633e+08
std,1486.644114,2.457672,99.325695,22362.279819,14.614884,1.261085e+08
min,320.000000,1993.000000,0.000000,0.000000,1.000000,4.385000e+03
25%,98052.000000,2016.000000,38.000000,28800.000000,20.000000,1.239379e+08
50%,98118.000000,2018.000000,149.000000,33520.000000,35.000000,1.733881e+08
75%,98366.000000,2019.000000,220.000000,37495.000000,43.000000,2.757715e+08
max,99403.000000,2021.000000,337.000000,845000.000000,49.000000,4.792548e+08

In [9]:
ev_report=sv.analyze(df)

                                             |          | [  0%]   00:00 -> (? left)

In [11]:
ev_report.show_html('ev_report.html')

Report ev_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.